html {
    height: 100%;
    width: 100%;
}

body {
    font-family: monospace, sans-serif;
}

table {
    width: 100%;
    
}

    table thead tr {
        border-bottom: 1px solid;
        border-top: 1px solid;
    }

    table tbody {
        border-bottom: 1px solid;
    }

    table tbody .altRow {
        background-color: lightgray;
    }

    table tbody td {
        text-align: center;
        border-right: 1px solid;
        border-left: 1px solid;
        padding: 3px;
    }

.invoice {
    border: 1px solid;
    margin: 10px 0;
}

    .invoice .invoice-header {
        padding: 22px
    }

        .invoice .invoice-header .company {
            margin: 6px 6px;
            display: grid;
        }

        .invoice .invoice-header .invoice-for {
            margin: 6px 6px;
            display: grid;
        }

        .invoice .invoice-header .billTo {
            margin: 6px 6px;
            display: grid;
        }

    .invoice .invoice-details {
        margin: 6px 10px;
    }

        .invoice .invoice-details .invoice-total {
            padding: 8px;
        }

    .invoice .invoice-footer {
        padding: 22px;
    }
